body {
  background-color: #222;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  height: 55px;
  border-radius: 50%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.mention {
  color: white;
}
.google {
	display: inline-block;
	border-style: none;
	position: absolute;
	right: 1%;
	top: 2%;
	border-radius: 20px;
	font-size: 13px;
	color: black;
	border-color: yellowgreen;
	background-color: yellowgreen;
	outline: none;
  font-family: monospace;
}
.profile {
  display: block;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
section {
  display: grid;
  position: relative;
  top: 5em;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: min-content;
}
.card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 5rem;
}
.card:hover {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 255, 0.3), 0 9px 46px 8px rgba(0, 0, 255, 0.3), 0 11px 15px -7px rgba(0, 0, 255, 0.3);
}
.card:active {
  box-shadow: 0 24px 38px 3px rgba(255, 0, 0, 0.3), 0 9px 46px 8px rgba(255, 0, 0, 0.3), 0 11px 15px -7px rgba(255, 0, 0, 0.3)
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.card h1 {
  text-align: center;
  background: var(--Gallery-Header-BG);
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  font-size: 14px;
  border-radius: 0 0 10px 10px;
  font-family: arial, helvica, sans serif;
}

/* Breakpoint */
@media only screen and (max-width: 700px) {
  body > section {
    width: 90%;
    height: calc(100% - 2rem);
    padding: 1rem 5%;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
  }
}