li {
  list-style: none;
  list-style-type: none;
}
ul {
  text-align: center;
}
.header2 {
  color: red;
}
.query {
  font-size: 18px;
	font-weight: 500;
	border: 1px solid #dedede;
	background-color: white;
	color: rgb(0, 0, 0);
	border-radius: 12px;
	padding: 3px;
	margin: 3px 0;
}
.query h3 {
  color: #333;
}
.query::after {
	content: "";
	clear: both;
	display: table;
}
::placeholder {
  color: red;
  font-weight: bold;
  opacity: 1;
}

:-ms-input-placeholder {
  color: red;
}

::-ms-input-placeholder {
  color: red;
}
.message {
  border-radius: 25px;
  border: none;
  padding: 10px;
  font-size: 18px;
  color: black;
  background-color: white;
  text-align: center;
  outline: none;
}
.sendbtn {
  display: block;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  background-color: white;
  padding: 10px;
  color: black;
  font-size: 15px;
	font-family: monospace;
  outline: none;
}